
  
  .navbar {
    background-color: #fff;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    padding: 1.75rem 2rem 0 1.75rem;
    position: fixed;
    top: 0;
    transition: left .25s ease;
    width: 155px;
    z-index: 3000;
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}